body{
    margin: 0;
    padding: 0;
}
#top-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
    box-shadow: 0px 2px 5px black;
    
}
#top-nav a{
    text-decoration: none;
    color: rgb(61, 60, 60);
    font-size: 20px;
    display: inline-block;
    margin: 13px;
    padding: 6px;
    letter-spacing: 3px;

}
#top-nav-right{
    float: right;
    margin-right: 10px;
}
#home-section{
    position: relative;
    margin-bottom: 80px;
}
#home-section p{
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 45px;
    color: grey;
}
#section-container{
    width: 70%;
    margin: auto;
}
#about-section p{
    font-size: 20px;

}
#img-container{
    width: 49%;
    float: left;
    box-sizing: border-box;
    padding: 10px 20px;

}
#img-container img{
    opacity: 0.6;
}
#text-container1{
    box-sizing: border-box;
    width: 49%;
    float: left;
}
#grey{
    color: grey;
}
#about-section::after {
    content: "";
    display: table;
    clear: both;
}
#about-section{
    padding-top: 70px;
    margin-bottom: 100px;
}
#menu-section{
    padding-top: 80px;
    margin-bottom: 70px;
}
#menu-section::after{
    content: "";
    display: table;
    clear: both;
}
#text-container2{
    box-sizing: border-box;
    padding: 10px 20px;
    width: 49%;
    float: left;
}
#text-container2 p{
    color: grey;
    font-size: 17px;
}
#img-container2{
    box-sizing: border-box;
    padding: 10px 20px;
    width: 49%;
    float: left;    
}
#img-container2 img{
    opacity: 0.6;
}
#contact-section{
    padding: 70px 20px;
    margin-bottom: 50px;
}
#contact-section p{
    font-size: 15px;
}
#contact-section input[type="text"], #contact-section input[type="date"]{
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 10px;
}
button{
    border: none;
    background-color: rgb(200, 196, 196);
    font-family: serif;
    font-size: 15px;
    padding: 10px;
}
#fotter{
    padding: 40px;
    background-color: rgba(128, 128, 128, 0.358);
    text-align: center;
}
