*{
    margin: 0;
}
.header-left img{
    height: 40px;
}


.user-avatar{
    width: 45px;
}
.header{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}
.header-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}
.header-input input{
    border: none;
    background-color: transparent;
    outline-width: 0;
}
.header-middle{
    display: flex;
    flex: 1;
    justify-content: center;
}
.header-option .material-icons{
    font-size: xx-large;
    color: gray;
}
.header-option:hover .material-icons{
    color: blue;
}
.header-option{
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}
.header-option.active .material-icons{
    color: blue;

}
.header-option.active{
    border-bottom: 4px solid blue;
}
.header-option:hover{
    background-color: rgba(240, 248, 255, 0.822);
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}
.header-info{
    display: flex;
    align-items: center;
}
.header-info h4{
    margin-left: 10px;
}
.header-right{
    display: flex;
    align-items: center;
}
.header-right .material-icons{
    color: gray;margin: 0 10px;
    cursor: pointer;
}
/* sidebar */

.sidebar-row{
    display: flex;
    flex-direction: column;
    padding: 10px;
   
}
.sidebar-row:hover{
    background-color: lightgray;
    border-radius: 10px;
}
.sidebar-row h4{
    margin-left: 40px;
    font-weight: 600;
    margin-top: -30px;
   
}
.sidebar-row .material-icons{
    font-size: xx-large;
    color: blue;
} 
.story{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 200px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 100ms ease-in;
}
.story:hover{
    transform: scale(1.07);
}
.story-avatar{
    margin: 10px;
}
.story h4{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}
.storyreel{
    display: flex;
    padding: 10px 0;
}
.main-body{
    display: flex; 
    margin-right: 200px; 
}
body{
    background-color: #f1f2f5;
}
.feed{
    flex: 1;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar{
    padding: 25px 10px;
    flex: 0.33;
}
/* message sender */
.message-sender{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
}
.message-sender-top form{
    flex: 1;
    display: flex;
}
.message-sender-top form input{
    flex: 1;
    outline-width: 0;
    border: none;
    padding: 15px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}
.message-sender-bottom{
    display: flex;
    justify-content: space-evenly;

}
.message-sender-option{
    padding: 10px 100px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}
.message-sender-option h3{
    font-size: medium;
    margin-left: 10px;
}
.message-sender-option:hover{
    cursor: pointer;
    background-color: #eff2f5;
    border-radius: 20px;
}
/* post  */
.post{
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}
.post-image img{
    width: 100%;
}
.post-top{
    display: flex;
    position: relative;
    align-items: center;
   padding: 15px;
}
.post-avatar{
    margin-right: 10px;

}
.posttop-info h3{
    font-size: medium;
}
.posttop-info p{
    font-size: small;
    color: gray;

}
.post-bottom{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}
.post-options{
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}
.post-option{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 5px;
    /* flex: 1; */
}
/* .post-option p{
    margin-left: 10px;

} */
.post-option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}